<title>Athletic Club</title>
<div class="full-width-bar">
	<div class="container">
		<div class="row show-grid">
			<div class="col-lg-1">
				<img src="images/Logo.jpg" style="width:125px;height:140px" align="center"> 
			</div>
			<div class="col-lg-11">
				<h2 style="color: white" align="center">
					Oranmore Athletic Club 
				</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div>
		<p>
			The Oranmore Athletic Association is an Irish international amateur sporting and cultural organisation, focused primarily on promoting indigenous Gaelic games and pastimes,which include the traditional Irish sports of hurling, camogie, Gaelic football, Gaelic handball and rounders. The association also promotes Irish music and dance, as well as the Irish language. 
		</p>
	</div>
	<div>
		<h2>
			Latest News & Updates 
		</h2>
	</div>
	<div class="container">
		<table class="table table-bordered">
			<tr>
				<th> </th>
			</tr>
			<tr>
				<td>Electric Ireland Minor Hurling Awards 2019 Galway Winners : Alex Connaire, Greg Thomas, Séan McDonagh, Ian McGlynn. Eoin Lawless and Christy Brennan.</td>
			</tr>
			<tr>
				<td>Galway GAA chairman Pat Kearney says they will meet main sponsors Supermac’s in the coming days to deal with any queries about how their money has been spent but he said they have nothing to hide. </td>
			</tr>
			<tr>
				<td>The Waterford county board have confirmed their first outside hurling manager in over a decade with the appointment of Liam Cahill, the Tipperary native who won a senior All-Ireland with his county in 2001. </td>
			</tr>
		</table>
	</div>
	<div>
		<h2>
			Latest Match Fixtures & Results 
		</h2>
	</div>
	<div class="container">
		<table class="table">
			<tr>
				<th> </th>
				<th> </th>
				<th> <b>Wednesday 2 October 2019</b> </th>
			</tr>
			<tr>
				<th>St. Bridgets, Loughrea</th>
				<th></th>
				<th> 6-20 </th>
				<th> 5-6 </th>
				<th>Calasanctius College Oranmore</th>
			</tr>
			<tr>
				<th> </th>
				<th> </th>
				<th><b> Tuesday 1 October 2019 <b> </th>
			</tr>
			<tr>
				<th>Mercy College Woodford</th>
				<th></th>
				<th> 6-6 </th>
				<th> 7-15 </th>
				<th>St. Killians, New Inn</th>
			</tr>
			<tr>
				<th> </th>
				<th> </th>
				<th><b> Sunday 29 September 2019 <b> </th>
			</tr>
			<tr>
				<th>Skehana-Mountbellew / Moylough</th>
				<th></th>
				<th> 3-8 </th>
				<th> 0-11 </th>
				<th>Killimor</th>
			</tr>
			<tr>
				<th> </th>
				<th> </th>
				<th> <b> Sunday 29 September 2019 <b> </th>
			</tr>
			<tr>
				<th>Tommy Larkins</th>
				<th></th>
				<th> 6-6 </th>
				<th> 7-15 </th>
				<th>Athenry</th>
			</tr>
			<tr>
				<th> </th>
				<th> </th>
				<th> <b> Saturday 28 September 2019 <b> </th>
			</tr>
			<tr>
				<th>Tynagh Abbey Duniry</th>
				<th></th>
				<th> 0-16 </th>
				<th> 1-17 </th>
				<th>Craughwell GAA Club</th>
			</tr>
			<tr>
				<th> </th>
				<th> </th>
				<th><b> Saturday 28 September 2019 <b> </th>
			</tr>
			<tr>
				<th>Salthill-Knocknacarra</th>
				<th></th>
				<th> 2-11 </th>
				<th> 1-4 </th>
				<th>Ballinderreen</th>
			</tr>
		</table>
	</div>
	<h2>
		Meet Our Committee Members 
	</h2>
	<div class="conatiner">
		<div class="row show-grid">
			<div class="col-lg-4">
				<img src="images/GAA_President.jpg" alt="Avatar" class="img"> <b>John Horan (Chairperson)</b> 
				<p>
					John Horan (born 1958) is the current President of the GAA. He was chairman of the Leinster Council from 2011 to 2014 and was previously vice-chairman from 2008 to 2011. A member of the Na Fianna club in Glasnevin, Horan is the first Dublin-born GAA President since 1924 when Daniel McCarthy finished his three-year term. 
				</p>
			</div>
			<div class="col-lg-4">
				<img src="images/chairperson.jpg" alt="Avatar" class="img"><b> Richard Blake (Secretary)</b> 
				<p>
					Richard Blake is the current General Secretary of the GAA. The Secretary is the chief administrator in the Club. The duties are many and varied and call for a high degree of dedication. The Secretary has more to do with the practical running of the Club than any other officer. 
				</p>
			</div>
			<div class="col-lg-4">
				<img src="images/GAA_Treasurer.jpg" alt="Avatar" class="img"><b> Tom Ryan(Treasurer)</b> 
				<p>
					Tom Ryan the Club Treasurer has the responsibility for the safe-keeping of the funds of the Club. He is responsible for recording all income and expenditure and for reporting on the financial position of the Club to the Club Executive Committee on an on-going basis. 
				</p>
			</div>
		</div>
	</div>
<!-- <div class="container">
  <div class="form-row">
    <div class="col-2">
      <input type="text" id= "username" class="form-control" placeholder="@myuser">
    </div>
    <div class="col-2 shadow-textarea">
      <input type="textarea" id= "comment_box" class="form-control" row = "3" placeholder="Write something here...">
    </div>
	<div class="col-2">
	<button type="submit" class="btn btn-primary" onClick = 'displayComments(); clearForm()'>Post</button>
	</div>
  </div>
</div>     -->
	<div class="row bootstrap snippets">
		<div class="col-md-6 col-md-offset-2 col-sm-4" style="background-color:PowderBlue;">
			<div class="comment-wrapper">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<b>Leave Us A comment </b>
					</div>
					<div class="panel-body">
						<input type="text" id="username_box" class="form-control" placeholder="@myuser">
						<textarea class="form-control" id="comment_box" placeholder="write a comment..." rows="3"></textarea>
						<br>
						<button type="button" class="btn btn-info pull-right" onclick="displayComments(); clearForm()">Post</button> 
						<div class="clearfix">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class = "container" id="commentsDiv">
		</div>
		
		<footer>
			<font face="Didot" size="3"> 
			<div class="row show-grid">
				<div class="col-lg-2">
					<img src="images/Logo.jpg" style="width:45px;height:55px" align="center"> 
				</div>
				<div class="col-lg-10">
					<a href="mailto:mareenathomas@aim.com" target="_blank">Contact Us | </a> <a href="https://www.facebook.com/" target="_blank">Facebook | </a> <a href="https://twitter.com/" target="_blank">Twitter | </a> <a href="https://goo.gl/maps/zjgVAuVz9GKRhHaKA" target="_blank">Site Map | </a> <a href="https://plus.google.com/" target="_blank"> Google+ </a> 
					<p style="color: white" align="centre">
						Copyright © Mareena Thomas 2019. All right reserved. 
					</p>
				</div>
			</div>
			</font> 
		</footer>
